<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qimeng.bs.market.point.dao.DmPointsMapper" >
  <resultMap id="BaseResultMap" type="com.qimeng.bs.market.point.bean.DmPoints" >
    <id column="POINT_ID" property="pointId" jdbcType="INTEGER" />
    <result column="MERCHANT_ID" property="merchantId" jdbcType="INTEGER" />
    <result column="POINT" property="point" jdbcType="INTEGER" />
    <result column="ORDER_ID" property="orderId" jdbcType="INTEGER" />
    <result column="POINT_DESC" property="pointDesc" jdbcType="VARCHAR" />
    <result column="GAIN_TIME" property="gainTime" jdbcType="TIMESTAMP" />
    <result column="EFF_TIME" property="effTime" jdbcType="TIMESTAMP" />
    <result column="EXP_TIME" property="expTime" jdbcType="TIMESTAMP" />
    <result column="STATE" property="state" jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap id="PointResultMap" type="com.qimeng.bs.market.point.bean.DmPoints" >
    <id column="POINT_ID" property="pointId" jdbcType="INTEGER" />
    <result column="MERCHANT_ID" property="merchantId" jdbcType="INTEGER" />
    <result column="POINT" property="point" jdbcType="INTEGER" />
    <result column="ORDER_ID" property="orderId" jdbcType="INTEGER" />
    <result column="POINT_DESC" property="pointDesc" jdbcType="VARCHAR" />
    <result column="GAIN_TIME" property="gainTime" jdbcType="TIMESTAMP" />
    <result column="EFF_TIME" property="effTime" jdbcType="TIMESTAMP" />
    <result column="EXP_TIME" property="expTime" jdbcType="TIMESTAMP" />
    <result column="STATE" property="state" jdbcType="VARCHAR" />
    <result column="ORDER_NO" property="orderNo" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Jan 13 15:47:32 CST 2014.
    -->
    point.POINT_ID, point.MERCHANT_ID, point.POINT, point.ORDER_ID, point.POINT_DESC, point.GAIN_TIME, point.EFF_TIME, point.EXP_TIME, 
    point.STATE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Jan 13 15:47:32 CST 2014.
    -->
    select 
    <include refid="Base_Column_List" />
    from dm_points point
    where point.POINT_ID = #{pointId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Jan 13 15:47:32 CST 2014.
    -->
    delete from dm_points
    where POINT_ID = #{pointId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qimeng.bs.market.point.bean.DmPoints" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Jan 13 15:47:32 CST 2014.
    -->
    insert into dm_points (POINT_ID, MERCHANT_ID, POINT, 
      ORDER_ID, POINT_DESC, GAIN_TIME, 
      EFF_TIME, EXP_TIME, STATE
      )
    values (#{pointId,jdbcType=INTEGER}, #{merchantId,jdbcType=INTEGER}, #{point,jdbcType=INTEGER}, 
      #{orderId,jdbcType=INTEGER}, #{pointDesc,jdbcType=VARCHAR}, #{gainTime,jdbcType=TIMESTAMP}, 
      #{effTime,jdbcType=TIMESTAMP}, #{expTime,jdbcType=TIMESTAMP}, #{state,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.qimeng.bs.market.point.bean.DmPoints" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Jan 13 15:47:32 CST 2014.
    -->
    insert into dm_points
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pointId != null" >
        POINT_ID,
      </if>
      <if test="merchantId != null" >
        MERCHANT_ID,
      </if>
      <if test="point != null" >
        POINT,
      </if>
      <if test="orderId != null" >
        ORDER_ID,
      </if>
      <if test="pointDesc != null" >
        POINT_DESC,
      </if>
      <if test="gainTime != null" >
        GAIN_TIME,
      </if>
      <if test="effTime != null" >
        EFF_TIME,
      </if>
      <if test="expTime != null" >
        EXP_TIME,
      </if>
      <if test="state != null" >
        STATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pointId != null" >
        #{pointId,jdbcType=INTEGER},
      </if>
      <if test="merchantId != null" >
        #{merchantId,jdbcType=INTEGER},
      </if>
      <if test="point != null" >
        #{point,jdbcType=INTEGER},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="pointDesc != null" >
        #{pointDesc,jdbcType=VARCHAR},
      </if>
      <if test="gainTime != null" >
        #{gainTime,jdbcType=TIMESTAMP},
      </if>
      <if test="effTime != null" >
        #{effTime,jdbcType=TIMESTAMP},
      </if>
      <if test="expTime != null" >
        #{expTime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qimeng.bs.market.point.bean.DmPoints" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Jan 13 15:47:32 CST 2014.
    -->
    update dm_points
    <set >
      <if test="merchantId != null" >
        MERCHANT_ID = #{merchantId,jdbcType=INTEGER},
      </if>
      <if test="point != null" >
        POINT = #{point,jdbcType=INTEGER},
      </if>
      <if test="orderId != null" >
        ORDER_ID = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="pointDesc != null" >
        POINT_DESC = #{pointDesc,jdbcType=VARCHAR},
      </if>
      <if test="gainTime != null" >
        GAIN_TIME = #{gainTime,jdbcType=TIMESTAMP},
      </if>
      <if test="effTime != null" >
        EFF_TIME = #{effTime,jdbcType=TIMESTAMP},
      </if>
      <if test="expTime != null" >
        EXP_TIME = #{expTime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        STATE = #{state,jdbcType=VARCHAR},
      </if>
    </set>
    where POINT_ID = #{pointId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qimeng.bs.market.point.bean.DmPoints" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Jan 13 15:47:32 CST 2014.
    -->
    update dm_points
    set MERCHANT_ID = #{merchantId,jdbcType=INTEGER},
      POINT = #{point,jdbcType=INTEGER},
      ORDER_ID = #{orderId,jdbcType=INTEGER},
      POINT_DESC = #{pointDesc,jdbcType=VARCHAR},
      GAIN_TIME = #{gainTime,jdbcType=TIMESTAMP},
      EFF_TIME = #{effTime,jdbcType=TIMESTAMP},
      EXP_TIME = #{expTime,jdbcType=TIMESTAMP},
      STATE = #{state,jdbcType=VARCHAR}
    where POINT_ID = #{pointId,jdbcType=INTEGER}
  </update>
  
  <select id="selectEffPointByMerchantId" resultType="java.lang.Integer" >
    select  IFNULL(SUM(POINT),0) points from DM_POINTS 
    where state = '00A' and MERCHANT_ID = #{merchantId}
  </select>
  
  <select id="findAllPoint" parameterType="Page" resultMap="PointResultMap">
	select 
	     <include refid="Base_Column_List"/>
	     ,ord.ORDER_NO from DM_POINTS point 
	     LEFT JOIN  DM_CUST_ORDER ord 
	        on point.ORDER_ID = ord.ORDER_ID
	<trim prefix="where" prefixOverrides="AND |OR">
      <if test="params.merchantId != null and params.merchantId != ''">AND point.MERCHANT_ID =#{merchantId}</if>
    </trim>
  </select>
</mapper>