@CHARSET "UTF-8";

.quickMenu_div {position:absolute;z-index:9999; width: 200px; display: ;}
.quickMenu_div .content {text-align: center;border: 1px solid;}

.wp_list {  }
.wp_list li { height: 40px;line-height: 40px;border-bottom: 1px #666 solid; }
.wp_list li a { color: #333;display: inline-block;*display: inline;*zoom: 1;width: 100%; }
.wp_list li a:HOVER { background-color: #3399cc;color: #fff;filter: alpha(opacity = 65); opacity: 0.65; }
.wp_list li a.cur { background-color: #3399cc;color: #fff;filter: alpha(opacity = 65); opacity: 0.65; }
.wp_list li a span { display: inline-block;*display: inline;*zoom: 1; }
.wp_list li a .mn { width: 75%;white-space: nowrap;overflow: hidden; }
.wp_list li a .cata { font-family: SimSun;position: absolute;right: 10px; }