<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qimeng.bs.system.sequence.dao.SysSequenceMapper" >
    <select id="nextVal" resultType="java.lang.Integer">
        select nextval(#{tableName})
    </select>
    <select id="currVal" resultType="java.lang.Integer">
        select currval(#{tableName})
    </select>
    <select id="selectLastInsertId" resultType="java.lang.Integer">
        select last_insert_id()
    </select>

</mapper>