@CHARSET "UTF-8";

.div_loading {text-align: center;color: #666;font-weight: bold;}
.div_loading span {padding: 0px 0px 0px 50px;line-height: 38px;display: inline-block;height: 38px;background: url(../images/loading.gif) no-repeat 0px 1px}

.warn_color { background-color: #ffe9e8 !important; }

.upload_a { position: relative;overflow: hidden;width: 30px;cursor: pointer; }
.upload_a .input_f { position: absolute;top: 0px;left: 0px;filter: alpha(opacity:1);opacity: 0;border: 0px;margin: 0px;width: 48px;height: 15px;cursor: pointer; }
