@CHARSET "UTF-8";

.quickMenu_div {position:absolute;z-index:9999; width: 120px; }
.quickMenu_div .content {text-align: center;border: 1px solid #368399;}

.wp_list {  }
.wp_list li { height: 24px;line-height: 24px;border-bottom: 1px #368399 solid;background:url(../images/menubg.gif) repeat-x;  }
.wp_list li a { color: #333;display: inline-block;*display: inline;*zoom: 1;width: 100%; }
.wp_list li a:HOVER {  background:url(../images/menubg_curr.gif) repeat-x;  color:#fff;}
.wp_list li a.cur {  background:url(../images/menubg_curr.gif) repeat-x;  color:#fff; }
.wp_list li a span { display: inline-block;*display: inline;*zoom: 1; }
.wp_list li a .mn { width: 100%;white-space: nowrap;overflow: hidden; }
.wp_list li a .cata { font-family: SimSun;position: absolute;right: 10px; }