@charset "utf-8";
/* CSS Document */
body{background:#61bade url(../images/bg.jpg) 75px top repeat-x; _background-attachment:fixed; font-size:12px;}

/*头部样式*/
.topbar{position:absolute;top: expression(documentElement.scrollTop); }

/*主体部分布局*/
.leftDiv{ position:absolute;left:expression(eval(document.documentElement.scrollLeft));top:expression(eval(document.documentElement.scrollTop+54)); bottom:0px;z-index:9999;background:#3f3f3f;}

